body {
    color: #444;
    padding-top: 50px;
    background: #fff;
}
img {
    max-width: 100%;
}
.navbar-brand {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 150px;
    background-size: 85%;

}
/*.navbar-default {
    background: #fff;
    min-height: 70px;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}*/
#chater-menu > li > a {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gray-bg {
   background:#d8e0e5;
}
.container-nav-narrow {
    max-width: 1000px;

}
.container-narrow {
    max-width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 75px;
}
li.dropdown > a {
    font-size: 16px;
    font-weight: normal;
}

.dropdown {
    margin-top: 0px;
}

.image-shadow {
    width: 100%;
    border-radius: 5px;

}
h1,h2,h3,h4,h5{  font-family: 'Open Sans', sans-serif;}

.title {
    font-size: 80px;
    font-weight: 600;
    margin: .5em 0 .8em;
    line-height: 1.15em;
    text-align: center;
}
h2.title {font-size: 50px;}
p {
   font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #666;
    letter-spacing: .01rem;
    margin-bottom: 30px;
}
article {
    padding-bottom: 50px;
}
.chapter-number {
    width: 50px;
    height: 50px;
    padding: 20px 0px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

[class*="border-"]{ border-top-width: 5px; border-top-style: solid; }
[class*="border-"] .container{ border-top-width: 10px; border-top-style: solid; }

.border-red{ border-color: #eb6e47; }
.border-red .container{ border-color: #eb6e47; }
.border-red .chapter-number {background: #eb6e47;}
.border-red .title {color: #eb6e47; margin-top: 20px;}


.border-green { border-color: #3aa868; }
.border-green .container{ border-color: #3aa868; }
.border-green .chapter-number {background: #3aa868;}
.border-green .title {color: #3aa868; margin-top: 20px;}

.border-orange { border-color: #f0a74d; }
.border-orange .container{ border-color: #f0a74d; }
.border-orange .chapter-number {background: #f0a74d;}
.border-orange .title {color: #f0a74d; margin-top: 20px;}

.border-blue { border-color: #166dae; }
.border-blue .container{ border-color: #166dae; }
.border-blue .chapter-number {background: #166dae;}
.border-blue .title {color: #166dae; margin-top: 20px;}

.border-marune { border-color: #d1a06d; }
.border-marune .container{ border-color: #d1a06d; }
.border-marune .chapter-number {background: #d1a06d;}
.border-marune .title {color: #d1a06d; margin-top: 20px;}

.border-black { border-color: #4e5b63; }
.border-black .container{ border-color: #4e5b63; }
.border-black .chapter-number {background: #4e5b63;}
.border-black .title {color: #4e5b63; margin-top: 20px;}

.border-dark-green { border-color: #348c90; }
.border-dark-green .container{ border-color: #348c90; }
.border-dark-green .chapter-number {background: #348c90;}
.border-dark-green .title {color: #348c90; margin-top: 20px;}

.border-purple { border-color: #8c68a5; }
.border-purple .container{ border-color: #8c68a5; }
.border-purple .chapter-number {background: #8c68a5;}
.border-purple .title {color: #8c68a5; margin-top: 20px;}

.navbar-header img {
    margin-top: -15px;
}

.subscribe {
margin: 0px auto;
padding: 20px;
width: 450px;
}

.subscribe-form {
position: relative;
margin: 20px -20px -20px;
padding: 15px;
background: #fafafa;
}
.subscribe-form > p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.subscribe-input {
padding: 0 16px;
width: 100%;
height: 45px;
font-family: 'Lucida Grande',Tahoma,Verdana,sans-serif;
font-size: 15px;
color: #444;
background: #fefefe;
background-clip: padding-box;
border: 1px solid;
border-color: #999 #aaa #aaa;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2),0 1px #f8f8f8;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.2),0 1px #f8f8f8;
}

.subscribe-submit {
display: block;
position: absolute;
top: 15px;
right: 15px;
padding-left: 15px;
height: 45px;
width: 195px;
background: #60e160;
border: 1px solid;
border-color: #4c9d50 #4c9d50 #4c9d50 #55af5a;
cursor: pointer;
font: 15px;
text-shadow: none;
color: #fff;
background-image: -webkit-linear-gradient(top,#84f087,#4cd94a);
background-image: -moz-linear-gradient(top,#84f087,#4cd94a);
background-image: -o-linear-gradient(top,#84f087,#4cd94a);
background-image: linear-gradient(to bottom,#84f087,#4cd94a);
-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.4);
box-shadow: inset 0 1px rgba(255,255,255,0.4);
}



/*      Tablet Layout:   */

@media (min-width: 768px) and (max-width: 1024px) {    
    .title {
        font-size: 60px;
    }
}



/*      Mobile Layout: 320px.   */

@media (max-width: 568px) {
    
    .title {
        font-size: 55px;
    }
    h2.title {
        font-size: 45px;
    }
}



/*      Wide Mobile Layout:  */


@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    .title {
        font-size: 40px;
    }
    h2.title {
        font-size: 30px;
    }
    .subscribe {
    margin: 0px auto;
    padding: 10px;
    width: 320px;
    }
    .subscribe-submit { 
      width: 150px;
    }
    .subscribe-form > p {
      font-size: 14px;
   }
  .pull-right {
     float: none !important;
   }
   .dropdown .dropdown-toggle {
    float: right;
   }
 
}


